.breadcrumbs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 382px;
  padding-right: 372px;
}

.breadcrumbs__title {
  vertical-align: middle;
}

.breadcrumbs__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
}

.breadcrumbs__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.breadcrumbs__link--active,
.breadcrumbs__link:hover {
  background-color: #FFF;
  color: #F5170E;
}
