.btn {
  display: block;
  background-color: #F5170E;
  color: #FFF;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 168px;
  padding: 18px 40px;
  border-radius: 36px;
}

.btn--placecard {
  width: 135px;
  padding: 18px 29px 18px 30px;
  background-color: #FFF;
  color: #F5170E;
  border: 1px solid #F5170E;
}

.btn--placecard:hover {
  background-color: #F5170E;
  color: #FFF;
}

.btn--about-us{
  padding: 15px 45px;
}
