.contacts__phone {
  font-size: 26px;
  text-align: right;
}

.contacts__dropdown-title {
  text-align: right;
  font-size: 13px;
  font-style: normal;
  text-decoration: none;
  margin-top: -10px;
}
