.hero__content {
  height: 400px;
  margin-bottom: 185px;
}

.hero__text-section {
  margin-bottom: 35px;
}

.hero__title {
  font-size: 72px;
  width: 600px;
  line-height: 1.39;
  margin-bottom: 26px;
}

.hero__subtitle {
  font-weight: normal;
  font-size: 18px;
}
