.news {
  margin-bottom: 147px;
}

.news__title {
  margin-bottom: 50px;
  font-size: 36px;
}

.news__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: norap;
  align-content: space-around;
  gap: 15px;
  margin-bottom: 52px;
}

.newscard {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 31px;
  padding-bottom: 46px;
  height: 394px;
  border-radius: 5px;
  flex-wrap: wrap;
  flex-basis: 557px;
}

.newscard--plain {
  background-image: url(/img/news/plain.png);
}

.newscard--surf {
  background-image: url(/img/news/Surfer.png);
}

.newscard__date{
  font-size: 14px;
  margin-bottom: 15px;
}

.newscard__title{
  line-height: 36px;
  font-size: 24px;
  margin-bottom: 2px;
}

.newscard__desc{
  font-size: 16px;
  line-height: 21px;
}