.about {
  margin-bottom: 53px;
}

.about__front {
  display: flex;
}

.about__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 785px;
  padding: 68px 81px;
  border-radius: 5px;
  background: url(../../img/index/about-us_2.png) right center /cover no-repeat;
  margin-left: -136px;
  margin-top: 97px;
  color: #060606;
}

.about__front::before {
  content: "";
  display: block;
  flex: 0 1 490px;
  height: 505px;
  background: url(../../img/index/about-us_1.png) center center /cover no-repeat;
  border-radius: 5px;
}

@media (max-width: 768px){
  .about__front::before{
    display: none;
  }

  .about__content {
    margin-left: 0;
}
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 38px;
}

.about__desc {
  flex-basis: 130px;
  line-height: 1.6875;
  margin-bottom: 46px;
  padding-right: 40px;
}

.about__desc p {
  margin-bottom: 20px;
}

.about__desc p:last-child {
  margin-bottom: 0;
}