.btn {
  display: block;
  overflow: hidden;
  width: 168px;
  padding: 17px 40px;
  border-radius: 35px;
  background-color: #F5170E;
  color: #FFF;
  border: 1px solid #F5170E;
}

.btn__link {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
}

.btn--width--short {
  width: 135px;
  padding: 16px 30px;
}

.btn--color--white {
  background-color: #FFF;
  color: #F5170E;
  border: 1px solid #F5170E;
}

.btn--color--white:hover {
  border: 1px solid #F5170E;
  background-color: #F5170E;
  color: #FFF;
}

.btn--color--red {
  border: 1px solid #F5170E;
  background-color: #F5170E;
  color: #FFF;
}

.btn--color--red:hover {
  background-color: #DA0100;
  box-shadow: 0px 2px 4px 0px rgba(218, 1, 0, 0.30);
  color: #FFF;
}


.btn__about {
  padding: 20px 40px;
}

.btn__welcome {
  padding: 18px 58px;
}