.form {
  padding-bottom: 50px;
  padding-top: 150px;
  background-color: #F4F5F5;
}

.form__title {
  color: #1A1B1E;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 57px;
}

.form__content {
  display: flex;
  flex-flow: column;
  row-gap: 26px;
}

.form__row {
  display: flex;
  column-gap: 28px;
}

.form__input {
  flex: 1;
  padding: 20px 30px;
  height: 65px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.form__textarea {
  flex: 1;
  height: 235px;
  border-radius: 5px;
  padding: 30px;
  outline: none;
  border: none;
  resize: none;

}

input:focus,
textarea:focus {
  border: 1px solid #F5170E;
}

.form__control {
  display: flex;
  gap: 74px;
}

.form__control-title {
  width: 53.5%;
  color: #1A1B1E;
font-size: 18px;
}

.form__control-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-right: 0;
}



.form__buttons {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}