.places__section {
  margin-bottom: 85px;
}

.places__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 63px;
  gap: 50px;
}

.item-places {
  display: flex;
}

.item-places__title {
  font-size: 36px;
  font-weight: 700;
}

.item-places__desc {
  font-size: 16px;
  line-height: 1.6875;
}

.item-places__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 56px;
  padding-top: 10px;
  padding-bottom: 17px;
}
