.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.social__link {
  display: block;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.social__link--tg {
  background-image: url(/img/social/tg.png);
}

.social__link--vk {
  background-image: url(/img/social/vk.png);
}

.social__link--fb {
  background-image: url(/img/social/fb.png);
}

.social__link--inst {
  background-image: url(/img/social/inst.png);
}


.social__link--tg:hover {
  background-image: url(/img/social/tg-hover.png);
}

.social__link--vk:hover {
  background-image: url(/img/social/vk-hover.png);
}

.social__link--fb:hover {
  background-image: url(/img/social/fb-hover.png);
}

.social__link--inst:hover {
  background-image: url(/img/social/inst-hover.png);
}
