.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.social__link {
  display: block;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-image: url(/img/social/css_sprites.png);
}

.social__link--tg {
  background-position: -122px -10px;
}

.social__link--tg:hover {
  background-position: -122px -66px;
}

.social__link--vk {
  background-position: -10px -122px;
}

.social__link--vk:hover {
  background-position: -66px -122px;
}

.social__link--fb {
  background-position: -10px -10px;
}

.social__link--fb:hover {
  background-position: -66px -10px;
}

.social__link--inst {
  background-position: -10px -66px;
}


.social__link--inst:hover {
  background-position: -66px -66px;
}